__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv
*.egg
*.egg-info
.cache
.coverage
.pytest_cache
.mypy_cache
.DS_Store
.git
.gitignore
.dockerignore
Dockerfile
docker-compose.yml
.env
*.log
.vscode
.idea

